@font-face {
    font-family: "GothamRounded";
    src: url("../fonts/GothamRoundedLight_21020.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GothamRounded";
    src: url("../fonts/GothamRoundedMedium_21022.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GothamRounded";
    src: url("../fonts/GothamRoundedBold_21016.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}